@import 'common/scss/_colors.scss';

$DAY_SIZE : 25px;

.days-container {
    margin-top: 2px;
    display: grid;
    grid-template-columns: $DAY_SIZE  $DAY_SIZE  $DAY_SIZE  $DAY_SIZE  $DAY_SIZE  $DAY_SIZE  $DAY_SIZE ;
    grid-auto-rows: $DAY_SIZE ;
}

.day {
    border: 1px solid black;
    height: DAY_SIZE;
    width: DAY_SIZE;
    margin: 1px;
}

.blank-day {
    height: DAY_SIZE;
    width: DAY_SIZE;
    margin: 1px;
}

.happiness0 {
    background-color: $HAPPINESS0;
}

.happiness1 {
    background-color:$HAPPINESS1;
}

.happiness2 {
    background-color: $HAPPINESS2;
}

.happiness3 {
    background-color: $HAPPINESS3;
}

.happiness4 {
    background-color: $HAPPINESS4;
}

.happiness5 {
    background-color: $HAPPINESS5;
}

.flex-container {
    display: flex;
}

.happiness-picker {
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.selected {
    border: 1px solid red;
}

.weekday {
    // border: 1px solid black;
    height: DAY_SIZE;
    width: 25px;
    text-align: center;
    margin-top: 5px;
    // margin: 1px;
  }