@import 'common/scss/_colors.scss';

.days-container {
    display: grid;
    grid-template-columns: 53px 53px 53px 53px 53px 53px 53px;
    grid-auto-rows: 53px;
}

.day {
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.happiness0 {
    background-color: $HAPPINESS0;
}

.happiness1 {
    background-color:$HAPPINESS1;
}

.happiness2 {
    background-color: $HAPPINESS2;
}

.happiness3 {
    background-color: $HAPPINESS3;
}

.happiness4 {
    background-color: $HAPPINESS4;
}

.happiness5 {
    background-color: $HAPPINESS5;
}

.flex-container {
    display: flex;
}

.happiness-picker {
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.selected {
    border: 1px solid red;
}