$PRIMARY_COLOR : #43D1AF;
$PRIMARY_COLOR_SELECTED : darken($PRIMARY_COLOR, 10%);


$HAPPINESS0 : lightgrey;
$HAPPINESS1 : darkblue;
$HAPPINESS2 : blue;
$HAPPINESS3 : turquoise;
$HAPPINESS4 : lightgreen;
$HAPPINESS5 : green;
